.button {

  &,
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 18px;
    color: gray;
    background-image: linear-gradient(120deg, $primary 0%, $secondary 100%);
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);

    &::after {
      transform: scale(1.5);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(.5px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}